<nav class="pagination" role="navigation">
  {{#if prev}}
    <a class="newer-posts" href="{{page_url prev}}">
      <span aria-hidden="true"><</span>
    </a>
  {{/if}}
  <span class="page-number">{{t "[{page}::{pages}]" page=page pages=pages}}</span>
  {{#if next}}
    <a class="older-posts" href="{{page_url next}}"><span aria-hidden="true">></span></a>
  {{/if}}
</nav>
