@font-face {
    font-family: 'plex';
    font-weight: normal;
    src: url('../font/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'plex-light';
    src: url('../font/IBMPlexSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'plex-bold';
    src: url('../font/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../font/Inconsolata-Regular.ttf') format('truetype');
}
