$primary-background:    #000000;
$primary-foreground:    #FFFFFF;

$ghostly:               #909090;

$header-foreground:     $primary-background;
$header-background:     $primary-foreground;

$primary-width:         1000px;
